{{> header }}

   {{> navbar }}
 <table class="table">
    <thead>
        <tr>
            <th>CIUDAD</th>
            <th>CLIMA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>París</td>
            <td>temp</td>
        </tr>
        <tr>
            <td>Moscu</td>
            <td>tmp</td>
        </tr>
        <tr>
            <td>Japon</td>
            <td>temp</td>
        </tr>
    </tbody>
</table>
    

{{> footer }}
   