{{> header }}

   {{> navbar }}
 <table class="table">
    <thead>
        <tr>
            <th>CIUDAD</th>
            <th>CLIMA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ciudadP}}</td>
            <td>{{tempP}}</td>
        </tr>
        <tr>
            <td>{{ciudadJ}}</td>
            <td>{{tempJ}}</td>
        </tr>
    </tbody>
</table>
    

{{> footer }}
   
